<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO LIST </title>
    <link rel="stylesheet" href="./css/style.css">
    
</head>

<body>
    <header>
        
        <h1 id="mainHeading">TO DO LIST </h1>
        
        <img src="/img/checklist-icon-business-sign-141967427.jpg">
        <nav>
            <ul>
                <li> <a href="/"> Home</a> </li>
                <li><a href="/about.html"> About us </a> </li>
                
            </ul>

        </nav>

    </header>
    <main>
        
        <table class="center">
            <tr>
                <th>Tasks</th>

                 <th> Status</th>
            </tr>
            <tr>
                <td>task1</td>
                <td>
                    <input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer">
                </td>
            </tr>
            <tr>
                <td>task2</td>
                <td>
                    <input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer">
                </td>
            </tr>
            <tr>
                <td>task3</td>
                <td>
                    <input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer">
                </td>
                <tr>
                    <td>task4</td>
                    <td>
                        <input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer">
                    </td>
                </tr>
                <tr>
                    <td>task5</td>
                    <td>
                        <input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer">
                    </td>
            </tr>
            
        </table>
        

  
    </main>

    
    
    <div class="footer">
        <p>&copy; 2022 ASAC All rights reserved </p>
      </div>
</body>

</html> 